<!DOCTYPE html>
    <html lang="PT-BR">
        <head>
            <script>
              
            </script>
          
            <style>
              
            </style>
          
        </head>
      
        <body>
            <fieldset>

                <legend>Logar no curriculo</legend>
                <form action="" method="POST">
                    Usuario:<input type="text" name="usuario" maxlength="20" minlength="5" placeholder="Usuario" required>
                    Senha: <input type="password" name="senha" placeholder="senha" required>
                    <input type="submit" value="logar">

                </form>
            </fieldset>
          <fieldset>
              <legend>Cadastrar curriculo</legend>
                <fieldset>
                    <legend>DADOS PESSOAIS</legend>
                      Nome Completo:<input type="text" name="Nome Completo" maxlength="30" minlength="5" placeholder="Usuario" required>
                    <br>
                  <br>
                      Telefone:<input type="number" name="telefone" maxlength="20" minlength="5" placeholder="Usuario" required>
                    <br>
                  <br>
                      E-mail:<input type="email" name="E-mail" maxlength="30" minlength="5" placeholder="Usuario" required>
                    <br>
                  <br>
                      Endereço:<input type="text" name="Endereço" maxlength="20" minlength="5" placeholder="Usuario" required>
                    <br>
                  <br>
                    data de nascimento:<input type="date" name="data de nascimento">
                    <br>
                    <br>
Genero:<label>
  <input type="radio" name="opcao" value="Masculino">
  Feminino
</label>

<label>
  <input type="radio" name="opcao" value="Feminino">
  Masculino
</label>
                  
                </fieldset>
          </fieldset>
        </body>
      
    </html>
